@media screen and (max-width: 1460px) {
  :root {
    --p-fs: 14px;
  }

  .container {
    max-width: 1020px;
  }

  .wrapper {
    max-width: 780px;
  }

  /* header */
}

@media screen and (max-width: 1260px) {
  :root {
    --p-fs: 14px;
  }

  .container {
    max-width: 1020px;
  }

  .wrapper {
    max-width: 780px;
  }

  /* header */

  header ul {
    display: none;
  }
}

/* MOBILE */

@media screen and (max-width: 800px) {
  :root {
    --p-fs: 14px;
    --h1-fs: 1rem;
    --h2-fs: 5rem;
    --h3-fs: 4rem;
    --h4-fs: 4rem;
    --h5-fs: 1.7rem;
    --h6-fs: 1rem;
  }

  .container {
    padding: 0 30px;
  }

  /* header */

  header {
    padding: 20px 30px;
  }

  .toggle-wrap {
    height: 86px;
    width: 100px;
  }

  .logo {
    width: 150px;
  }

  header .right-header button {
    margin: 0 70px 0 0;
  }

  /* text */

  .text {
    padding: 150px 0 100px 0;
  }

  .img-text {
    padding: 00vh 0 0 0;
  }

  .img-full {
    position: relative;
    overflow: hidden;
    height: 50vh;
    margin: 0 auto;
    width: 100%;
    margin: 0 00px;
    z-index: 1;
  }

  .img-text .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 100px 0 0 0;
  }
  .img-text .text-col {
    width: 100%;
    padding: 0px 30px 30px 30px;
  }

  .img-text .img-col {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }

  .img-text.-reverse .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 100px 0 0 0;
  }
  .img-text.-reverse .text-col {
    width: 100%;
  }

  .img-text.-reverse .img-col {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }

  .img-text .img-split-wrap::before {
    display: none;
  }

  .text-scroll-wrap {
    position: relative;
    left: -300%;
    width: 600%;
    overflow: hidden;
    transform: rotate(-20deg);
    padding: 100px 0 0 0;
  }

  .text-scroll-wrap span {
    display: block;
    position: relative;
    font-size: 20vw;
    font-family: "Activist", sans-serif;
    -webkit-text-stroke: 1px #000;
    color: transparent;
    margin-top: 10px;
    margin-bottom: 00px;
    line-height: 0.6;
    opacity: 0.4;
  }

  section.we-do .we-do-box {
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 0;
    text-align: center;
  }

  section.we-do .img-wrap {
    position: relative;
    overflow: hidden;
    padding: 20px 20px 20px 0;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 50px;
  }

  section.prefooter {
    padding: 10vh 0 0 0;
    background-color: #fff;
  }

  section.prefooter .prefooter-col {
    position: relative;
    width: 100%;
    padding: 0px;
  }

  section.prefooter .prefooter-col .img-wrap {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    min-height: 60vh;
  }

  .outro .outro-top {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .outro .outro-col {
    position: relative;
    width: 100%;
    padding: 20px 40px 20px 0;
  }

  .outro .outro-col:nth-child(1) {
    position: relative;
    width: 100%;
    padding: 20px 100px 20px 0;
  }

  .outro .outro-bottom {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-end;
    font-size: 0.5rem;
    opacity: 0.3;
    font-weight: 400;
    align-items: flex-start;
    margin-top: 60px;
  }

  .outro-bottom-left {
    margin: 20px 0;
  }

  .outro .outro-bottom li {
    margin-left: 0;
    margin-right: 30px;
  }

  section.auto {
    margin: 40vh 0 0 0;
    background-color: #111;
    color: #fff;
    padding: 20vh 0;
  }

  section.auto .img-wrap1 {
    position: relative;
    top: -200px;
    left: 0;
    height: 300px;
    width: 100%;
  }

  section.auto .img-wrap2 {
    display: none;
  }
  section.auto .img-wrap3 {
    display: none;
  }
  section.auto .img-wrap4 {
    display: none;
  }
  section.auto .img-wrap5 {
    display: none;
  }
  section.auto .img-wrap6 {
    display: none;
  }
  section.auto .img-wrap7 {
    display: none;
  }
  section.auto .img-wrap8 {
    display: none;
  }

  section.auto .text-wrap {
    position: relative;
    width: 100%;
    text-align: left;
    top: -300px;
    margin: 0 auto;
  }
}
