@media screen and (max-width: 1460px) {
  :root {
    --p-fs: 14px;
  }

  .container {
    max-width: 1020px;
  }

  .wrapper {
    max-width: 780px;
  }

  /* header */
}

@media screen and (max-width: 1260px) {
  :root {
    --p-fs: 14px;
  }

  .container {
    max-width: 1020px;
  }

  .wrapper {
    max-width: 780px;
  }

  /* header */

  header ul {
    display: none;
  }
}

/* MOBILE */

@media screen and (max-width: 800px) {
  :root {
    --p-fs: 15px;
    --h1-fs: 1rem;
    --h2-fs: 4rem;
    --h3-fs: 3.1rem;
    --h4-fs: 4rem;
    --h5-fs: 1.7rem;
    --h6-fs: 1rem;
  }

  .container {
    padding: 0 30px;
  }

  /* menu */

  .menu .logo {
    display: none;
  }

  .menu .menu-wrapper-bg {
    padding-bottom: 40px;
  }
  .menu-wrapper {
    align-items: flex-start;
  }

  .menu-main {
    position: relative;
    padding: 40px 30px 0 30px;
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .menu-col {
    position: relative;
    padding: 0px;
  }

  .menu-col-title {
    font-size: 0.8rem;
    opacity: 0.6;
    margin-bottom: 20px;
  }
  .menu-col:nth-child(1) {
    width: 100%;
    display: none;
  }

  .menu-col:nth-child(2) {
    margin: 0 0 50px 0;
    width: 100%;
    text-align: left;
  }
  .menu .social-list ul {
    display: flex;
    flex-wrap: wrap;
  }
  .menu .social-list li a {
    font-size: 0.7rem;
    padding: 15px 0;
    font-weight: 500;
    margin-right: 10px;
  }

  .menu .nav-list li {
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
    line-height: 1.15;
    margin-bottom: 20px;
  }

  .menu-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px 10px 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .menu-footer .menu-col-title {
    margin-bottom: 20px;
  }

  .menu-footer .contact a {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 15px;
    margin-bottom: 30px;
  }

  /* header */

  header {
    padding: 30px 30px;
  }

  .toggle-wrap {
    height: 86px;
    width: 100px;
  }

  .logo {
    width: 150px;
  }

  header .right-header button {
    margin: 0 70px 0 0;
    display: none;
  }

  /* text */

  .text {
    padding: 150px 0 100px 0;
  }

  .img-text {
    padding: 00vh 0 0 0;
  }

  .img-full {
    position: relative;
    overflow: hidden;
    height: 50vh;
    margin: 0 auto;
    width: 100%;
    margin: 0 00px;
    z-index: 1;
  }

  .img-text .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 100px 0 0 0;
  }
  .img-text .text-col {
    width: 100%;
    padding: 0px 30px 30px 30px;
  }

  .img-text .img-col {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }

  .img-text.-reverse .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 100px 0 0 0;
  }
  .img-text.-reverse .text-col {
    width: 100%;
  }

  .img-text.-reverse .img-col {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }

  .img-text .img-split-wrap::before {
    display: none;
  }

  .text-scroll {
    display: none;
  }
  .text-scroll-wrap {
    position: relative;
    left: -300%;
    width: 600%;
    overflow: hidden;
    transform: rotate(-20deg);
    padding: 100px 0 0 0;
  }

  .text-scroll-wrap span {
    display: block;
    position: relative;
    font-size: 20vw;
    font-family: "Activist", sans-serif;
    -webkit-text-stroke: 1px #000;
    color: transparent;
    margin-top: 10px;
    margin-bottom: 00px;
    line-height: 0.6;
    opacity: 0.4;
  }

  section.we-do .we-do-box {
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 0;
    text-align: center;
  }

  section.we-do .img-wrap {
    position: relative;
    overflow: hidden;
    padding: 20px 20px 20px 0;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 50px;
  }

  section.prefooter {
    padding: 10vh 0 0 0;
    background-color: #fff;
  }

  section.prefooter .prefooter-col {
    position: relative;
    width: 100%;
    padding: 0px;
  }

  section.prefooter .prefooter-col .img-wrap {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    min-height: 60vh;
  }

  .outro .outro-top {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .outro .outro-col {
    position: relative;
    width: 100%;
    padding: 20px 40px 20px 0;
  }

  .outro .outro-col:nth-child(1) {
    position: relative;
    width: 100%;
    padding: 20px 30px 20px 0;
  }

  .outro .outro-bottom {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-end;
    font-size: 0.5rem;
    opacity: 0.3;
    font-weight: 400;
    align-items: flex-start;
    margin-top: 60px;
  }

  .outro-bottom-left {
    margin: 20px 0;
  }

  .outro .outro-bottom li {
    margin-left: 0;
    margin-right: 30px;
  }

  section.auto {
    margin: 40vh 0 0 0;
    background-color: #111;
    color: #fff;
    padding: 20vh 0;
  }

  section.auto .text-wrap {
    position: relative;
    width: 100%;
    text-align: left;
    top: 0px;
    margin: 0 auto;
  }

  /* contacts section */

  section.contacts-title {
    padding-bottom: 30px;
  }

  section.contacts .box {
    position: relative;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px dashed rgb(170, 170, 170);
    display: flex;
    flex-wrap: wrap;
  }

  section.contacts .box span {
    font-family: "Activist", sans-serif;
    font-size: 2rem;
    width: 100%;
    margin: 10px 0;
    text-align: left;
  }

  section.arenda {
  }

  section.arenda .container {
    display: flex;
    flex-wrap: wrap;
  }

  .arenda .arenda-box {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .arenda .arenda-images-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .arenda .arenda-meta-wrapper {
    position: relative;
    width: 100%;
    padding: 0px 0px 100px 0;
    display: flex;
    flex-wrap: wrap;
  }

  .arenda .btn.-outline {
    margin: 0 0 50px 0;
    width: 100%;
  }

  .arenda .arenda-meta-col {
    position: relative;
    width: 100%;
    padding-right: 0;
  }

  .arenda .arenda-meta-col p {
    font-size: 0.7rem;
    opacity: 0.8;
    margin-top: 50px;
  }

  dl {
    position: relative;
    line-height: 1.7rem;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    width: 97%;
    padding: 5px 0;
  }

  dl-inline > dt {
    clear: left;
    float: left;
    margin-right: 5px;
    overflow: hidden;
  }
  .dt-dotted {
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }
  .dt-dotted > span {
    position: relative;
  }

  .dt-dotted > span:after {
    color: #000;
    content: "...................................................................................";
    left: 100%;
    position: absolute;
    top: 0;
    font-weight: 400;
    opacity: 0.5;
  }

  dd {
    display: block;
    margin-inline-start: 0;
  }

  .arenda .arenda-meta-wrapper::before {
    content: "";
    position: absolute;
    width: 130%;
    height: 140%;
    bottom: 0;
    left: -15%;
    background-color: #f4f4f4;
    z-index: -1;
  }

  .arenda .arenda-box h4 {
    font-size: 3rem;
  }

  .arenda .arenda-img-wrap {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 350px) {
  .menu .nav-list li {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
    line-height: 1.15;
    margin-bottom: 20px;
  }
}
